@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  padding: 10px;
}
.container .todo-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 700px;
  min-height: 700px;
  background: #fff;
  margin: 0 auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.container h2 {
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.container img {
  margin: 0 0 0 5px;
  width: 35px;
  height: 35px;
}
.container .row {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7F7F7;
  border-radius: 30px;
  padding: 0 0 0 20px;
  margin: 0 0 25px 0;
}
.container .row input {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
.container .row button {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 40px;
  outline: none;
  padding: 16px 25px;
  background: #1D976C;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.container .list-container #list-container {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0 40px;
  list-style: none;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
}
.container .list-container ul li {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.container .list-container ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(../img/unchecked.svg);
  background-size: cover;
  background-position: center;
  top: 2px;
  left: -30px;
}
.container .list-container ul li.checked {
  color: #555;
  text-decoration: line-through;
}
.container .list-container ul li.checked::before {
  background-image: url(../img/checked.svg);
}
.container .list-container ul li span {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  width: 40px;
  height: 40px;
  font-size: 50px;
  color: #ff0000;
  line-height: 40px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
